/*nbsp;nbsp;nbsp;html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)nbsp;nbsp;v1.4 2009-07-27 | Authors: Eric Meyer  Richard Clarknbsp;nbsp;html5doctor.com/html-5-reset-stylesheet/*/ html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header,hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } article, aside, figure, footer, header, hgroup, nav, section { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; } /* tables still need cellspacing="0" in the markup table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }*/ /* END RESET CSS */

@font-face {
font-family: 'Jurassik';
src: url('font/JurassicPark.ttf');
font-weight: normal;
font-style: normal;
}

body {

	background: url('img/fond.png') no-repeat;
	overflow:hidden;
	height:550px;
	width:100%;
}




	.launch{
		padding:10px 20px;
		font-family: Jurassik, sans-serif;
		width: 20%;
		height:auto;
		text-align: center;
		font-size: 4em;
		cursor: pointer;
		margin: 0 auto;
		position: absolute;
		color:white;
		background-color: black;
		border:1px solid #F7F936;
		top:55%;
		left:39.8%;
	}

/*#container{
	position: absolute;

	overflow:hidden;

}*/


/*#contenu	{
	position: absolute;
}*/